.parent {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
/*header div*/
#div1 {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    height: 10vh;
    grid-area: 1 / 1 / 2 / 6;
}
/*footer div*/
#div2 {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    height: 20vh;
    grid-area: 7 / 1 / 8 / 6;
}
/*left-gutter div*/
#div3 {
    display: flex;
    justify-content: center;
    background-color: mediumpurple;
    width: 15vw;
    grid-area: 2 / 1 / 7 / 2;
}
/*right-gutter div*/
#div4 {
    display: flex;
    justify-content: center;
    background-color: mediumpurple;
    width: 15vw;
    grid-area: 2 / 5 / 7 / 6;
}
/*cards*/
#div5 {
    grid-area: 2 / 2 / 3 / 3;
}
#div6 {
    grid-area: 2 / 3 / 3 / 4;
}
#div7 {
    grid-area: 2 / 4 / 3 / 5;
}
#div8 {
    grid-area: 3 / 2 / 4 / 3;
}
#div9 {
    grid-area: 3 / 3 / 4 / 4;
}
#div10 {
    grid-area: 3 / 4 / 4 / 5;
}
#div11 {
    grid-area: 4 / 2 / 5 / 3;
}
#div12 {
    grid-area: 4 / 3 / 5 / 4;
}
#div13 {
    grid-area: 4 / 4 / 5 / 5;
}
#div14 {
    grid-area: 5 / 2 / 6 / 3;
}
#div15 {
    grid-area: 5 / 3 / 6 / 4;
}
#div16 {
    grid-area: 5 / 4 / 6 / 5;
}
#div17 {
    grid-area: 6 / 2 / 7 / 3;
}
#div18 {
    grid-area: 6 / 3 / 7 / 4;
}
#div19 {
    grid-area: 6 / 4 / 7 / 5;
}

